<footer>
  <div class="footer container-xxl">
    <h5>Explore the NewzHub</h5>
    <div class="footer-grid">
      <div class="categories">
        <h6 class="category-header">World</h6>
        <h6>Africa</h6>
        <h6>America</h6>
        <h6>Asia</h6>
        <h6>Australia</h6>
        <h6>China</h6>
        <h6>Europe</h6>
        <h6>India</h6>
        <h6>Middle East</h6>
        <h6>United Kingdom</h6>
      </div>
      <div class="categories">
        <h6 class="category-header">Tech</h6>
        <h6>Innovate</h6>
        <h6>Gadget</h6>
        <h6>Upstarts</h6>
        <h6>Work Transformed</h6>
        <h6>Cyber Security</h6>
        <h6>Gadget</h6>
      </div>
      <div class="categories">
        <h6 class="category-header">Health</h6>
        <h6>Fitness</h6>
        <h6>Food</h6>
        <h6>Sleep</h6>
        <h6>Mindfulness</h6>
        <h6>Relationships</h6>
      </div>
      <div class="categories">
        <h6 class="category-header">Sports</h6>
        <h6>Cricket</h6>
        <h6>Football</h6>
        <h6>Tennis</h6>
        <h6>Golf</h6>
        <h6>Motorsport</h6>
        <h6>Climbing</h6>
        <h6>Esports</h6>
      </div>
      <div class="categories">
        <h6 class="category-header">Entertainment</h6>
        <h6>Movies</h6>
        <h6>Television</h6>
        <h6>Celebrity</h6>
      </div>
      <div class="categories">
        <h6 class="category-header">Style</h6>
        <h6>Arts</h6>
        <h6>Design</h6>
        <h6>Fashion</h6>
        <h6>Luxury</h6>
        <h6>Beauty</h6>
        <h6>Architecture</h6>
      </div>
    </div>
    <div class="logo-and-socials">
      <app-logo></app-logo>
      <div>
        <h6>FOLLOW NEWZHUB</h6>
        <div class="verticle-line"></div>
        <fa-icon [icon]="faFacebook" class="social-icons" size="xl"></fa-icon>
        <fa-icon [icon]="faTwitter" class="social-icons" size="xl"></fa-icon>
        <fa-icon [icon]="faInstagram" class="social-icons" size="xl"></fa-icon>
      </div>
    </div>
    <hr>
    <p>Copyright &copy; 2023 The NewzHub. Privacy Policy</p>
  </div>
</footer>
