<app-layout-header></app-layout-header>
<div
  [ngStyle]="{
    width: '100%',
    height: '60px'
  }"
></div>
<div class="subscribe-section">
  <div class="particles" id="particles-js"></div>
  <div class="subscribe-form">
    <div class="inner">
      <h1>STAY <span>TUNED</span></h1>
      <p>Subscribe to our newsletter and never miss on the latest news headlines</p>
      <p>Don't worry we won't spam your mail, our newsletter is sent once a day</p>

      <label for="email">Email</label>
      <input class="form-control" id="email" type="email">
      <button class="btn btn-danger">Subscribe</button>
    </div>
  </div>
</div>
<app-layout-footer></app-layout-footer>
