<nav class="navbar navbar-light fixed-top navbar-expand-lg navbar-custom">
  <div class="container-xxl">
    <div class="left-container same-width">
      <a class="navbar-brand" routerLink="/home">
        <app-logo></app-logo>
      </a>
    </div>
    <ul class="nav">
      <form class="form-inline">
        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
      </form>
    </ul>
    <!-- Show this for logged out users -->
    <ul class="nav same-width">
      <li class="nav-item">
        <a class="nav-link" routerLink="/subscribe" routerLinkActive="active">
          Subscribe
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          Log Out
        </a>
      </li>
    </ul>
  </div>
</nav>
